
.container{
 display: flex;
 flex-direction: column;
 align-items: center;

}

.container-forecast{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  

}

.heading{
  color: white;
  padding: 10px;
  width: 600px;
  background-color: #0e185f;
  border-radius: 5px;

}

div.tittle {
 margin-bottom: 10px;
 display: flex;
 justify-content: center;
 font-size: 25px;

}



.form-seach-city {
  font-size: 18px;
  display: flex;
  gap: 9px;
  justify-content: center;
 
 
}

.form-seach-city input {
  padding: 5px;
  border-radius: 5px;
  padding: 10px; 
  

}

.btn-primary {
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2475f0;
  color: #F8F9FA;
  border-radius: 5px;
  transition: all ease-in-out 150ms;
}

.btn-primary:hover {
  background-color: #0B5ED7;
  cursor: pointer;
}


.main-weather {
  background-color: rgba(218, 218, 218, 0.573);
  padding: 15px;
  align-items: center;
  border-radius: 5px;
  align-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 1200px;


}



div.box-city-name{
  display: flex;
  flex-grow: 1 ;
  font-size: 45px;
  transition: all ease-in-out;
  font-weight: 700;
  color: #0e185f;
  margin-bottom: 10px;
}


.city-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.box-date {
  font-size: 12px;
  text-align: right;
  margin-bottom: 10px;
}

.box-actual-weather {
  display: flex;
  flex-direction: column;

     
}

.celsius-temperature {
  font-size: 18px;
  color: black;
  margin-top: 20px;
  text-align: left;
  vertical-align: text-top;
}

#icon{
  width: 100px;
  margin: 0;
}

.main-icon {
  font-size: 45px;
  display: flex;
  flex-direction: row;  
  align-items: center;
  padding: 0;
}

.box-weather-details{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  font-size: 16px;
  color:#70757A;
}


.weather{
  display: flex;
  margin-bottom: 15px;
  font-size: 40px;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

#description::first-letter,
#forecast-description::first-letter {
  text-transform: capitalize;
  
}


.image img{
  width: 260px;
 }

.info{
  font-weight: bold;
}

.five-days-forecast{
  display: flex;
  flex-direction: column;

}

.forecast {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.data-day {
  text-decoration: underline;
  font-weight: bold;
}
.min {
  color: grey;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
